

<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <span class="material-icons">
        home
        </span>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <span class="material-icons">
        receipt
        </span>
      <ion-label>Extrato</ion-label>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="map">
      <span class="material-icons">
        payment
        </span>
      <ion-label>Cartões</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <span class="material-icons">
        local_mall
        </span>
      <ion-label>Store</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="dark" class="button">
    N7
  </ion-fab-button>
</ion-fab>