.item-background-color {
  --ion-item-background: #242424;
}

.card {
  background-color: #242424;
}

.extrato {
  background-color: #3e3e3e;
  color: #9e9e9e;
  padding: 20px;
  font-size: 12px;
}

.arrow {
  font-size: 17px;
  position: absolute;
  right: 21px;
  top: 19px;
}

.esconder-saldo {
    position: absolute;
    font-size: 22px;
}

.dot {
    height: 9px;
    width: 9px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
