 <ion-card mode="ios" class="card">

    <ion-chip>
      <ion-avatar>
        <img src="https://cdn.countryflags.com/thumbs/brazil/flag-round-250.png" width="15px">
      </ion-avatar>
      <ion-label style="color: #9e9e9e; font-weight: 600;">Saldo em reais</ion-label>
    </ion-chip>


    <ion-item lines="none" class="item-background-color">

      <ion-label color="medium">
        <b>R$</b> 

        
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
  
      </ion-label>
      <ion-fab-button color="medium" slot="end" size="small">
        <span class="material-icons">
          visibility_off
        </span>
      </ion-fab-button>
    </ion-item>

    <ion-card-title class="extrato">
      VER EXTRATO
      <div class="arrow">
        <span class="material-icons">
          keyboard_arrow_right
        </span>
      </div>
    </ion-card-title>


  </ion-card>