<ion-content>


  <div class="logo">
    <img src="./../../assets/logoBranco.png" alt="logo" width="185px">
  </div>

  <div class="cadastrar">
    <ion-button color="warning" shape="round" size="medium" expand="full" (click)="cadastro()">Abrir conta</ion-button>
  </div>

  <div class="logar">
    <ion-button color="light" shape="round" expand="block" size="medium" fill="outline" (click)="entrar = true">Já tenho
      conta</ion-button>
  </div>


  <div class="verificar-conta" *ngIf="entrar">

    <div class="centralizar-dados-conta">
      <div class="circle">
        JC
      </div>
    </div>

    <div class="centralizar-dados-conta">
      Olá, João
    </div>

    <div class="centralizar-dados-conta">
      Agencia <b>0000</b> Conta corrente <b>00000-0</b>
    </div>


    <div class="conta-diferente">
      <ion-button color="medium" shape="round" expand="block" size="medium" fill="outline">
        Entrar com outra conta </ion-button>
    </div>

    <div class="autenticar">
      <ion-button color="warning" shape="round" size="medium" expand="full" (click)="bio = true">
        Entrar</ion-button>
    </div>


    <app-autenticacao *ngIf="bio"></app-autenticacao>

  </div>






</ion-content>