ion-content{
    --background: url(./../../assets/login.png) 0 0/100% 100% no-repeat;
    --login: url(./../../assets/login.png) 0 0/100% 100% no-repeat;
}

.logo{
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 45px;
   
}

.cadastrar{
    position: absolute;
    width: 100%;
    bottom: 15%;
    padding: 15px;
}

.logar{
    position: absolute;
    width: 100%;
    bottom: 5%;
    padding: 15px;
}

.credenciais{
    position: absolute;
    bottom: -35px;
    width: 100%;
    left: -10px;
    height: 337px;
    z-index: 5;
    border-radius: 25px;
}

.autenticar {
    position: absolute;
    width: 100%;
    bottom: 4px;
    padding: 15px;
}

.conta-diferente {
    position: absolute;
    width: 100%;
    bottom: 58px;
    padding: 15px;
}

.verificar-conta {
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    height: 276px;
    width: 100%;
    border-radius: 22px 22px 0px 0px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    
        p {
            margin-top: 35px;
        }
    
}


.centralizar-dados-conta {
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.circle {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background: #c5c5c557;
    color: #5a5a5a;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    font-size: 14px;
}

