<ion-content>
  <div class="header">
    <p>
      Boa Tarde
    </p>
    <h1 style="position: absolute; top: 25px;"> Joao </h1>


    <div class="icon-alert">
      <span class="dot-alert"></span>
      <span class="material-icons">
        notifications
      </span>
    </div>


    <div class="circle">
      JC
    </div>
  </div>


  <app-saldo-card></app-saldo-card>


  <div class="menu-slide">

    <div class="centralizando">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </div>

    <ion-row>
      <ion-col>
        <span class="material-icons">
          receipt
        </span>
        <p class="text-menu">
          Ver Extrato
        </p>

      </ion-col>

      <ion-col>
        <span class="material-icons">
          credit_card
        </span>
        <p class="text-menu">
          Cartão
        </p>

      </ion-col>

      <ion-col>
        <span class="material-icons">
         <img src="https://image.freepik.com/free-icon/barcode_318-1989.jpg" width="29px">
        </span>

        <p class="text-menu">
          Pagar
        </p>
      </ion-col>

      <ion-col>
        <span class="material-icons">
          cached
        </span>
        <p class="text-menu">
          Recarga
        </p>

      </ion-col>

      <ion-col>
        <span class="material-icons">
          compare_arrows
        </span>
        <p class="text-menu">
          Transferir
        </p>

      </ion-col>


    </ion-row>

    <br>
    <br>

    <ion-row>
      Para você
    </ion-row>

    <ion-slides pager="true" [options]="slideOpts" color="success">
      <ion-slide >
        <ion-card mode="ios">
          <img src="./../../assets/store.png" alt="">
        </ion-card>
        
      </ion-slide>

      <ion-slide >
        <ion-card mode="ios">
          <img src="./../../assets/store.png" alt="">
        </ion-card>
        
      </ion-slide>

    </ion-slides>


  </div>
</ion-content>
